[submodule "test/test-cases/secrules-language-tests"]
	path = test/test-cases/secrules-language-tests
	url = https://github.com/appsumo/secrules-language-tests
[submodule "others/libinjection"]
	path = others/libinjection
	url = https://github.com/appsumo/libinjection.git
[submodule "bindings/python"]
	path = bindings/python
	url = https://github.com/appsumo/ModSecurity-Python-bindings.git
